/*FOOTER*/
.footer-container{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;

}

.container-redes{
    display: inline-block;
    :hover{
        opacity: 0,7;
    }
}

.fa-brands{
    padding-left: 15px;
}
.fa-solid{
    padding-left: 15px;
   
}

a{ color: $black;

}
i { font-size: 35px;

}
/*color footer*/
footer{ 
    background-color:rgb(191, 142, 236) ;

}
